.time {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -10.88px;
    user-select: none;

}