:root {
  font-family: "Poppins", system-ui, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-position: center !important;
  background-repeat: no-repeat !important ;
  background-size: cover !important;
}

/* utility classes */

.u-center {
  margin: 0 auto;
  max-width: fit-content;
  text-align: center;
}

.u-column {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.u-row {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  position: relative;
  margin: 2rem;
  

}
.u-overlay,
.u-overlayActive{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background-color: #24242404;
  width: 100dvw;
  height: 100dvh;

}
.u-overlayActive {
  display: block;
}
.u-overlay{
  display: none;
}

.u-hide{
  display: none;
}