.favouritesModalContainer {
  position: absolute;
  padding: 2rem;
  top: 100%;
  border-radius: 0.5rem;
  left: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(5, 5, 5, 0.6278886554621849) 35%,
    rgba(0, 0, 0, 0.4990371148459384) 100%
  );
  transition: all 0.2s ease-out;
  backdrop-filter: blur(15px);
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}