.containerSearchBar,
.containerSearchBarActive {
  display: flex;
  align-items: center;
  max-width: auto;
  position: relative;
  justify-content: left;
}

.containerSearchBar::after,
.containerSearchBarActive::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  transition: width 0.2s ease-in-out;
}


.searchBar {
  all: unset;
  padding: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-size: 1.2rem;
  transition: all 0.1s ease-in;
  width: fit-content;
  display: none;
}

.searchBar::placeholder {
  color: #ffffffbb;
}

.dropdownContainer {
  width: fit-content;
  padding: 1rem;
  display: none;
  flex-direction: column;
  position: relative;
  z-index: 100;
  opacity: 100% !important;
}

.selectedItem {
  display: flex;
  align-items: center;
}

.selectedItem > div:last-child {
  margin-left: -1rem;
}

.dropdownItems,
.dropdownItemsActive {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 0.5rem;
  padding: 1rem 0.8rem;
  top: 120%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(5, 5, 5, 0.6278886554621849) 35%,
    rgba(0, 0, 0, 0.4990371148459384) 100%
  );
  transition: all 0.2s ease-out;
  backdrop-filter: blur(15px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdownItems {
  visibility: hidden;
  height: 0;
  width: 0;
  display: none;
}
.dropdownItemsActive {
  visibility: visible;
  scale: 1;
  display: flex;
  height: auto;
  width: auto;
}

.label {
  font-size: 1.2rem;
  color: #e9e0e060;
  text-transform: capitalize;
}

.dropdownItem,
.dropdownItemActive {
  all: unset;
  display: inline-block;
  margin: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.dropdownItemActive {
  background-color: rgba(41, 43, 42, 0.89);
}

.dropdownItem:hover,
.dropdownItem:focus {
  background-color: rgba(143, 140, 137, 0.219);
}

.contentWrapper {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
}
.contentWrapper > p {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  max-width: fit-content;
}

.dropdownIcon > div > img {
  transform: rotate(0);
}

.dropdownIconActive {
  transform: rotate(180deg);
}

.containerSearchBar:hover > .searchBar {
  display: block !important;

}

.containerSearchBarActive > .searchBar {
  display: flex;
}

.containerSearchBar::after {
  width: 0%;
  background-color: #ffffffc7;

}

.containerSearchBar:hover > .dropdownContainer{
  display: flex;

}
.containerSearchBarActive > .dropdownContainer{
  display: flex;


}
.containerSearchBarActive::after {
  width: 95%;
  background-color: #ffffffc7;
}

.containerSearchBar:hover::after {
  left: 0;
  width: 95%;
}