.greeting{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.048rem;
    user-select: none;
    margin-bottom: clamp( 1.5rem ,4rem, 4vw);
}